{{ $content := .Page.RawContent }}
{{ $headings := findRE "(?m)^#{2,4}\\s+(.+)$" $content }}

{{ if $headings }}
<div class="indice-contenuti">
  <div class="widget">
    <div class="widget-title">
      <h3 class="h5 title-border">Indice</h3>
    </div>
    <div class="indice-list">
      {{ range $index, $heading := $headings }}
        {{ $level := len (index (findRE "^#+" $heading) 0) }}
        {{ $title := replaceRE "^#{2,4}\\s+(.+)$" "$1" $heading }}
        {{ $title = $title | plainify }}
        {{ $anchor := $title | anchorize }}
        
        <div class="indice-item level-{{ $level }}">
          <a href="#{{ $anchor }}" class="text-light-900">{{ $title }}</a>
        </div>
      {{ end }}
    </div>
  </div>
</div>

{{ end }} 