<!-- get param -->
{{ $text:= (.Get 0) }}
{{ $start:= (.Get 1) }}
{{ $end:= (.Get 2) }}

<blockquote>
  <h6 id="testo">{{ $text }}</h5>
  <div id="listExpanses"></div>
  <h6>
    <strong class="title-border">Totale : </strong><strong id="totalExpanses" class="title-border"></strong>
  </h6>
</blockquote>
<!--=================== expanses script start ===================-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/locale/it.js"></script>
<script>
  const rpcUrl = "https://vandipetyapi.onrender.com"
  
  let getSW = function () {
    fetch(rpcUrl + "/sw/get", {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        datedAfter: "{{ $start }}",
        datedBefore: "{{ $end }}"
      })
    })
    .then(response => {
      if (!response.ok) {
        throw new Error(`HTTP error! status: ${response.status}`);
      }
      return response.json();
    })
    .then(data => {
      let travelingSumCost = 0, i = 0;

      while(i < data.res.length){
        const date = moment(data.res[i].date);
        const startDate = moment("{{ $start }}");
        const endDate = moment("{{ $end }}");
        
        if(date.isBefore(startDate) || date.isAfter(endDate) || data.res[i].category.id === 8){
            data.res[i].deleted_by = 1;      
        }
        else 
          travelingSumCost += parseFloat(data.res[i].cost);
          
        i++;
      }

      document.getElementById('totalExpanses').innerText = (Math.round((travelingSumCost + Number.EPSILON) * 100) / 100) + ' €';

      setList(data);
    })
    .catch(error => {
      console.error('Errore nella richiesta:', error);
      document.getElementById('listExpanses').innerHTML = '<p style="color: red;">Errore nel caricamento dei dati. Si prega di riprovare più tardi.</p>';
    });
  }

  let setList = function(data){  
    const obj = new Object();

    let i = 0;
    while(i < data.res.length){
      if(data.res[i].deleted_by == null){
        let cost = parseFloat(data.res[i].cost);
        let category_name = data.res[i].category.name;
        
        if(category_name == 'Parcheggio')
          category_name = 'Parcheggi';

        if(category_name == 'Intrattenimento - Altro')
          category_name = 'Musei';

        if(category_name == 'Hotel')
          category_name = 'Campeggio';

        if(category_name == 'Spese personali - Altro')
          category_name = 'Varie';

        if(category_name == 'TV/Telefono/Internet')
          category_name = 'Internet';

        let val = obj[category_name];
        
        val = (val == undefined? 0 : val) + cost;

        obj[category_name] = Math.round((val + Number.EPSILON) * 100) / 100;
      }
      i++;
    }

    let entries = Object.entries(obj);
    let sorted = entries.sort((a, b) => b[1] - a[1]);

    const ul = document.getElementById("listExpanses");
    for(var j = 0; j < sorted.length;  j++)
    { 
      const li = document.createElement("li");
      li.appendChild(document.createTextNode(`${sorted[j][0]}: ${sorted[j][1]} €`));
      ul.appendChild(li);
    } 
  }
  
  getSW();
</script>