{{ define "main" }}

<script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
<!--=================== expanses section start ===================-->
<section class="section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <!-- image path -->
        {{ $imagePath:= .Params.image }}

        <!-- image CDN -->
        {{ if hasPrefix $imagePath "http" }}
        <img loading="lazy" decoding="async" src="{{ $imagePath | safeURL }}" alt="{{ .Title }}"
          class="img-fluid mb-5 w-100 rounded-4">
        {{ else }}
        <!-- /image cdn -->

        <!-- image processing for multiple device -->
        {{ if fileExists (add `assets/` $imagePath) }}
        {{ $image:= resources.Get $imagePath }}
        {{ $imageFallback:= $image.Resize "1400x" }}
        {{ $imageXL:= $image.Resize "1400x webp" }}
        {{ $imageLG:= $image.Resize "1000x webp" }}
        {{ $imageMD:= $image.Resize "800x webp" }}
        {{ $imageSM:= $image.Resize "600x webp" }}
        <picture>
          <source srcset="{{ $imageSM.RelPermalink }}" media="(max-width: 575px)">
          <source srcset="{{ $imageMD.RelPermalink }}" media="(max-width: 767px)">
          <source srcset="{{ $imageLG.RelPermalink }}" media="(max-width: 992px)">
          <source srcset="{{ $imageXL.RelPermalink }}">
          <img loading="lazy" decoding="async" class="img-fluid mb-5 w-100 rounded-4" src="{{$imageFallback.RelPermalink}}"
            alt="{{.Title}}" width="{{$image.Width}}" height="{{$image.Height}}">
        </picture>
        {{ end }}
        <!-- /image processing for multiple device -->
        {{ end }}
        <h2 class="mb-3">{{ .Title | markdownify }}</h2>
        <div class="content">
          {{.Content}}
        </div>
      </div>
    </div>
    <div class="row">
      {{ with .Params.education }}
      {{ if .enable }}
      <div class="col-md-6 mb-4 mb-md-0">
        <div class="p-4 border rounded">
          <h2 class="h4 mb-5 title-border">Formal Education</h2>
          <div class="row">
            {{ range .education_list }}
            <div class="col-md-6 mb-3">
              <h4 class="h5 mb-2">{{ .name | markdownify }}</h4>
              <p>{{.content | markdownify}}</p>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}
      {{ end }}

      {{ with .Params.experience }}
      {{ if .enable }}
      <div class="col-md-6">
        <div class="border rounded p-4">
          <h2 class="mb-5 h4 title-border">{{ .title | markdownify }}</h2>
          <ul class="list-styled" style="columns:2">
            {{ range .experience_list }}
            <li>{{ . | markdownify}}</li>
            {{ end }}
          </ul>
        </div>
      </div>
      {{ end }}
      {{ end }}

      <div class="col-md-6">
        <div class="border rounded p-4">
          <h2 class="mb-5 h4 title-border">Categoria</h2>
          <ul class="list-styled" style="columns:2">
            <canvas id="catergory" width="400" height="400"></canvas>
          </ul>
        </div>
      </div>
    </div>
  </div>

</section>
<!--=================== expanses section end ===================-->

<!--=================== expanses script start ===================-->
<script>
  // chart spese
  const ctx = document.getElementById('catergory').getContext('2d');

  const myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: ['Cibo', 'Benzina', 'Manutenzione', 'Servizi', 'Varie', 'Animali'],
          datasets: [{
              label: '# of Votes',
              data: [12, 19, 3, 5, 2, 3],
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });
  </script>
<!--=================== expanses script end ===================-->
{{ end }}

