{{ define "main" }}

{{- $sectionDelimiter := "<!-- section break -->" -}}
{{- $rawContentSections := split .RawContent $sectionDelimiter -}}

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>
<link href="https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/locale/it.js"></script>
<!-- <link rel="stylesheet" type="text/css"  href="/exampleSite/assets/scss/jquery-jvectormap-2.0.1.css" media="screen"/> -->
<!-- <link rel="stylesheet" href="\exampleSite\assets\scss\jquery-jvectormap-2.0.5.css"> -->

<!--=================== expanses section start ===================-->
<section class="section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <!-- image path -->
        {{ $imagePath:= .Params.image }}

        <!-- image CDN -->
        {{ if hasPrefix $imagePath "http" }}
        <img loading="lazy" decoding="async" src="{{ $imagePath | safeURL }}" alt="{{ .Title }}"
          class="img-fluid mb-5 w-100 rounded-4">
        {{ else }}
        <!-- /image cdn -->

        <!-- image processing for multiple device -->
        {{ if fileExists (add `assets/` $imagePath) }}
        {{ $image:= resources.Get $imagePath }}
        {{ $imageFallback:= $image.Resize "1400x" }}
        {{ $imageXL:= $image.Resize "1400x webp" }}
        {{ $imageLG:= $image.Resize "1000x webp" }}
        {{ $imageMD:= $image.Resize "800x webp" }}
        {{ $imageSM:= $image.Resize "600x webp" }}
        <picture>
          <source srcset="{{ $imageSM.RelPermalink }}" media="(max-width: 575px)">
          <source srcset="{{ $imageMD.RelPermalink }}" media="(max-width: 767px)">
          <source srcset="{{ $imageLG.RelPermalink }}" media="(max-width: 992px)">
          <source srcset="{{ $imageXL.RelPermalink }}">
          <img loading="lazy" decoding="async" class="img-fluid mb-5 w-100 rounded-4" src="{{$imageFallback.RelPermalink}}"
            alt="{{.Title}}" width="{{$image.Width}}" height="{{$image.Height}}">
        </picture>
        {{ end }}
        <!-- /image processing for multiple device -->
        {{ end }}
        <h2 class="mb-3">{{ .Title | markdownify }}</h2>
        <div class="content">
          <!-- {{.Content}} -->
          {{ index $rawContentSections 0 | .RenderString }}
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12 mb-4 mb-md-0">
        <div class="p-4 border rounded">
          <h2 class="h4 mb-5 title-border">In breve</h2>
          <div class="row">
            <div class="col-md-3 mb-3">
              <h4 class="h5 mb-2">Giorni di viaggio</h4>
              <h3 id="travelingDay" class="mb-5 h5 "></h3>
            </div>
            <div class="col-md-3 mb-3">
              <h4 class="h5 mb-2">Totale Spesa</h4>
              <h3 id="travelingSumCost" class="mb-5 h5 "></h3>
            </div>
            <div class="col-md-3 mb-3">
              <h4 class="h5 mb-2">Costo giornaliero</h4>
              <h3 id="dailyCost" class="mb-5 h5 "></h3>
            </div>
            <!-- <div class="col-md-3 mb-3">
              <h4 class="h5 mb-2">Con Assicurazione e Bollo</h4>
              <h3 id="dailyVanCost" class="mb-5 h5 "></h3>
            </div> -->
            <!-- <div class="col-md-3 mb-3">
              <h4 class="h5 mb-2">Spesa</h4>
              <h3 id="travelingSumCost" class="mb-5 h5 "></h3>
            </div> -->
          </div>
          <div class="row">
            <div class="col-md-3 mb-3">
              <h4 class="h5 mb-2">I° anno</h4>
              <h3 id="annoUno" class="mb-5 h5 "></h3>
            </div>
            <div class="col-md-3 mb-3">
              <h4 class="h5 mb-2">II° anno</h4>
              <h3 id="annoDue" class="mb-5 h5 "></h3>
            </div>
            <!-- <div class="col-md-3 mb-3">
              <h4 class="h5 mb-2">Con Assicurazione e Bollo</h4>
              <h3 id="dailyVanCost" class="mb-5 h5 "></h3>
            </div> -->
            <!-- <div class="col-md-3 mb-3">
              <h4 class="h5 mb-2">Spesa</h4>
              <h3 id="travelingSumCost" class="mb-5 h5 "></h3>
            </div> -->
          </div>
        </div>
      </div>
    </div>

    <div class="container" style="display: none;">
      <div class="row mb-5">
        <div class="col-12">
          <div class="content">
            <!-- {{.Content}} -->
            {{ index $rawContentSections 1 | .RenderString }}
          </div>
        </div>
      </div>
    </div>

    <br>
    <br>

    <a name="chart"></a>
    <div class="row">
      <div class="col-md-6">
         <div class="border rounded p-4">
           <h2 class="mb-5 h4 title-border">Categoria</h2>
           <ul class="list-styled" style="columns:2">
             <canvas id="catergory" width="400" height="400"></canvas>
           </ul>
         </div>
      </div>
      <div class="col-md-6">
         <div class="border rounded p-4">
           <h2 class="mb-5 h4 title-border">Mensile</h2>
           <ul class="list-styled" style="columns:2">
             <canvas id="monthly" width="400" height="400"></canvas>
           </ul>
         </div>
      </div>
    </div>

    <!-- <br>
    <br>
    
    <div class="row">
      <div class="col-md-12">
         <div class="border rounded p-4">
           <h2 class="mb-5 h4 title-border">Giornaliero</h2>
           <ul class="list-styled" style="columns:2">
             <canvas id="daily" width="400" height="200"></canvas>
           </ul>
         </div>
      </div>
    </div> -->

    <br>
    <br>
    
    <div id="tblSpese" name="tblSpese"></div>

    <br>
    <br>

    <!-- disqus comments -->
    {{ if .Site.DisqusShortname }}
    <div class="border rounded p-4">
      {{ template "_internal/disqus.html" . }}
    </div>
    {{ end }}
  </div>
</section>
<!--=================== expanses section end ===================-->

<!--=================== expanses script start ===================-->
<script>
  // let rpcUrl = "http://localhost:3000";
  let rpcUrl = "https://vandipety-api.herokuapp.com";
  // let rpcUrl = "https://vandipetyapi.onrender.com";
  
  let tripData  = null;
  let costperDay = null;

  let getTripData = function () {

    console.log('getting data');
    $.ajax({
      type: 'GET', // added,
      url: rpcUrl + "/data/trip",
      contentType: "application/json",
      success: function (data) {
        // debugger;
        console.log(data);
        tripData = data.json;
        
        setStartDate(tripData.startingDate);
        //setMontlykm(tripData.montlyKm, tripData.startingKm);
        
        return data;
      },
      error: function (xhr, status, error) {
          console.log('Error: ' + error.message);
      }
    });
  }

  let getSW = function () {

    console.log('getting data');
    $.ajax({
      type: 'GET', // added,
      url: rpcUrl + "/sw/get",
      contentType: "application/json",
      // data: '{"data": "TEST"}',
      //dataType: 'jsonp' - removed
      //jsonpCallback: 'callback' - removed
      success: function (data) {
        console.log(data);

        let travelingSumCost = 0, i = 0;
        let year = 2; //calculateyear(tripData.startingDate);
        let annoUno = 0, annoDue = 0;
        let dtUno =  moment(toDate(tripData.startingDate)), dtDue = toDate(tripData.startingDate);
        dtDue = moment(dtDue).add(1, 'year');
        // dtDue.setFullYear(dtDue.getFullYear() + 1);

        console.log('welcome to favelas')
        console.log(dtUno);
        console.log(dtDue);

        while(i < data.res.length){
          // console.log(data.res[i])
          if(data.res[i].deleted_by == null) {
            travelingSumCost += parseFloat(data.res[i].cost);
          
            if(toDate(data.res[i].date) <= dtDue){
                 annoUno += parseFloat(data.res[i].cost);     
            }
            else {
              annoDue += parseFloat(data.res[i].cost);
            }
          }
        
          i++;
        }
        
        document.getElementById('annoUno').innerText = annoUno + ' €';
        document.getElementById('annoDue').innerText = annoDue + ' €';

        travelingSumCost = Math.round((travelingSumCost + Number.EPSILON) * 100) / 100;

        document.getElementById('travelingSumCost').innerText = travelingSumCost + ' €';

        let day = parseInt(document.getElementById('travelingDay').innerText);
        costperDay = Math.round(((travelingSumCost / day) + Number.EPSILON) * 100) / 100

        document.getElementById('dailyCost').innerText = costperDay + ' €';

        setChart(data);
        setGrid(data);

        return data;
      },
      error: function (xhr, status, error) {
          console.log('Error: ' + error.message);
      }
    });
  }

  let setMontlykm = function(monthlyKm, startingKm){
    // aggiorna i box km del mese
    console.log('setMontlykm :' + monthlyKm);

    var i = 0;
    while(i < monthlyKm.length){
      if(document.getElementById('km' + monthlyKm[i].month) != null)
        document.getElementById('km' + monthlyKm[i].month).innerText = monthlyKm[i].endKM - (i == 0? startingKm : monthlyKm[i-1].endKM) + ' km';
      i++;
    }
  }

  let setStartDate = function(startDate){
    // box giorni di viaggio
    const today = new Date();
    const yyyy = today.getFullYear();
    let mm = today.getMonth() + 1; // Months start at 0!
    let dd = today.getDate();

    if (dd < 10) dd = '0' + dd;
    if (mm < 10) mm = '0' + mm;

    const date1 = new Date(startDate);
    
    const date2 = new Date(mm + '/' + dd + '/' + yyyy);
    const diffTime = Math.abs(date2 - date1);
    const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24)); 

    document.getElementById('travelingDay').innerText = diffDays;
  };

  let setChart = function(data){  
    // load chart spese
    const ctx = document.getElementById('catergory').getContext('2d');

    const obj = new Object();

    let i = 0;
    while(i < data.res.length){

      if(data.res[i].deleted_by == null){
        let cost = parseFloat(data.res[i].cost);
        let category_name = data.res[i].category.name;
        
        if(category_name == 'Hotel')
          category_name = 'Campeggio'

        let val = obj[category_name];
        
        val = (val == undefined? 0 : val) + cost;

        obj[category_name] = Math.round((val + Number.EPSILON) * 100) / 100;
      }
      i++;
    }

    const _labels = Object.keys(obj);
    const _data = Object.values(obj);

    console.log(_data);
    console.log(_labels);

    const color = [ 'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(229, 122, 250, 1)',
                    'rgba(32, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(102, 178, 255, 1)',
                    'rgba(153, 153, 255, 1)',
                    'rgba(204, 255, 204, 1)',
                    'rgba(255, 153, 153, 1)'
    ]
    const myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: _labels, //['Cibo', 'Benzina', 'Manutenzione', 'Servizi', 'Varie', 'Animali'],
            datasets: [{
                label: 'Euro',
                data: _data, 
                backgroundColor: color,
                borderColor: color,
                borderWidth: 1
            }]
        }
    }); 

    // ------------------------------------------------------------------------------------------------------------
    moment.locale('it');

    const ctx2 = document.getElementById('monthly').getContext('2d');

    const obj2 = new Object();

    i = 0;
    while(i < data.res.length){

      if(data.res[i].deleted_by == null){
        let cost = parseFloat(data.res[i].cost);
        let month = moment(data.res[i].date).format('MMMM');
        
        let val = obj2[month];
        
        val = (val == undefined? 0 : val) + cost;

        obj2[month] = Math.round((val + Number.EPSILON) * 100) / 100;
      }
      i++;
    }

    const _labels2 = Object.keys(obj2);
    const _data2 = Object.values(obj2);
    
    i = 0;
    while(i < _labels2.length){
      if(document.getElementById('total' + _labels2[i]) != null)
        document.getElementById('total' + _labels2[i]).innerText = obj2[_labels2[i]];
       
      i++;
    }
    // document.getElementById('totalMaggio').innerText = obj2[];

    const myChart2 = new Chart(ctx2, {
        type: 'bar',
        options: {
        plugins: {
          legend: {
              display: false
            }
          }
        },
        data: {
            labels: _labels2.reverse(), //['Cibo', 'Benzina', 'Manutenzione', 'Servizi', 'Varie', 'Animali'],
            datasets: [{
                label: 'Euro',
                data: _data2.reverse(), 
                backgroundColor: color,
                borderColor: color,
                borderWidth: 1
            }]
        }
    }); 

    // // ------------------------------------------------------------------------------------------------------------
    // // daily chart
    // const ctx3 = document.getElementById('daily').getContext('2d');
    // var obj3 = new Object();

    // let avgData = [];
    // let avgDailyData = [];
    // let dayCounter = 0, avgDailyCost = 0;

    // let color2 = [];

    // let changeStateDate = tripData.dateTrip[1];
    // let dateCounter = 2, colorCounter = 0;

    // let min = '2022-05-18', max = (new Date()).toISOString().split('T')[0];
    // obj3 = getDaysArray(min, max);

    // i = 0;
    // while(i < data.res.length){

    //   if(data.res[i].deleted_by == null){
    //     // console.log(data.res[i].date)
    //     let cost = parseFloat(data.res[i].cost);
    //     let day = data.res[i].date.split('T')[0];
        
    //     let val = obj3[day];
        
    //     val = (val == undefined? 0 : val) + cost;

    //     obj3[day] = Math.round((val + Number.EPSILON) * 100) / 100;

    //     // // array colori
    //     // if(changeStateDate != undefined && day >= changeStateDate.start) {
    //     //   changeStateDate = tripData.dateTrip[dateCounter++];
    //     // }

    //     // color2.push(color[colorCounter]);

    //     // array media
    //     avgData.push(costperDay);

    //     // // array media giornaliera
    //     // avgDailyCost += cost;
    //     // dayCounter++;
    //     // avgDailyData.push(avgDailyCost / dayCounter);
    //   }
    //   i++;
    // }

    // const _labels3 = Object.keys(obj3);
    // const _data3 = Object.values(obj3);

    // // generazione array colori e media (in un secondo momento perché mi arriva l'array disordinato)
    // i = 0;
    // while(i < _data3.length){
    //     cost = parseFloat(_data3[i]);
    //     day = _labels3[i];

    //     // array colori
    //     if(changeStateDate != undefined && day >= changeStateDate.start) {
    //       changeStateDate = tripData.dateTrip[dateCounter++];
    //     }

    //     color2.push(color[dateCounter]);

    //     // array media
    //     avgData.push(costperDay);

    //     // array media giornaliera
    //     avgDailyCost += cost;
    //     dayCounter++;
    //     avgDailyData.push(avgDailyCost / dayCounter);
      
    //   i++;
    // }

    // const myChart3 = new Chart(ctx3, {
    //     type: 'bar',
    //     data: {
    //         labels: _labels3,//.reverse(), 
    //         datasets: [{
    //             label: 'Spesa',
    //             data: _data3, 
    //             backgroundColor: color2,
    //             borderColor: color2,
    //             borderWidth: 1,
    //             order: 0
    //         },
    //         {
    //             label: 'Media giornaliera',
    //             data: avgDailyData, 
    //             backgroundColor: color[0],
    //             borderColor: color[0],
    //             borderWidth: 1,
    //             type: 'line',
    //             order: 1
    //         },
    //         {
    //             label: 'Media totale',
    //             data: avgData, 
    //             backgroundColor: color[1],
    //             borderColor: color[1],
    //             borderWidth: 1,
    //             type: 'line',
    //             order: 1
    //         }]
    //     },
    //     options: {
    //         responsive: true
    //     }
    // }); 

  }

  var getDaysArray = function(start, end) {
    for(var arr=[],dt=new Date(start); dt<=new Date(end); dt.setDate(dt.getDate()+1)){
        // arr.push(new Date(dt));
        
        // arr.push(formatDate(new Date(dt)));
        arr[formatDate(new Date(dt))] = 0;
    }
    return arr;
  };

  let formatDate = function(date){
    // let yourDate = new Date()
    return date.toISOString().split('T')[0];
  }

  let setGrid = function(data) {
    var result = [];

    i = 0;
    while(i < data.res.length){
      let res = data.res[i];

      if(res.deleted_by == null){
        let cost = parseFloat(res.cost);
        
        cost = Math.round((cost + Number.EPSILON) * 100) / 100;
        result.push([res.category.name, res.description, cost, new Date(res.date).toLocaleString()]);
      }
      
      i++;
    }
    console.log(result);

    new gridjs.Grid({columns: ["Categoria", "Descrizione", "Spesa", "Data"],
                     data: result,
                     sort: true,
                     pagination: {
                      limit: 20
                    },
                    // language : it_IT
                    }).render(document.getElementById("tblSpese"));

  }

  let calculateyear = function(startingDate) {
    var a = moment([2007, 0, 29]);
    var b = moment();
    a.diff(b, 'year') // 1
  }

  let toDate = function(date){
    return new Date(date);
  }

  $( document ).ready(function() {
    getTripData();
    getSW();

  });
  </script>
<!--=================== expanses script end ===================-->
{{ end }}

