{{ define "main" }}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/svg-pan-zoom@3.6.1/dist/svg-pan-zoom.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/StephanWagner/svgMap@v2.9.0/dist/svgMap.min.js"></script>
<link href="https://cdn.jsdelivr.net/gh/StephanWagner/svgMap@v2.9.0/dist/svgMap.min.css" rel="stylesheet">

<!-- <link rel="stylesheet" type="text/css"  href="/exampleSite/assets/scss/jquery-jvectormap-2.0.1.css" media="screen"/> -->
<!-- <link rel="stylesheet" href="\exampleSite\assets\scss\jquery-jvectormap-2.0.5.css"> -->

<!--=================== expanses section start ===================-->
<section class="section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <!-- image path -->
        {{ $imagePath:= .Params.image }}

        <!-- image CDN -->
        {{ if hasPrefix $imagePath "http" }}
        <img loading="lazy" decoding="async" src="{{ $imagePath | safeURL }}" alt="{{ .Title }}"
          class="img-fluid mb-5 w-100 rounded-4">
        {{ else }}
        <!-- /image cdn -->

        <!-- image processing for multiple device -->
        {{ if fileExists (add `assets/` $imagePath) }}
        {{ $image:= resources.Get $imagePath }}
        {{ $imageFallback:= $image.Resize "1400x" }}
        {{ $imageXL:= $image.Resize "1400x webp" }}
        {{ $imageLG:= $image.Resize "1000x webp" }}
        {{ $imageMD:= $image.Resize "800x webp" }}
        {{ $imageSM:= $image.Resize "600x webp" }}
        <picture>
          <source srcset="{{ $imageSM.RelPermalink }}" media="(max-width: 575px)">
          <source srcset="{{ $imageMD.RelPermalink }}" media="(max-width: 767px)">
          <source srcset="{{ $imageLG.RelPermalink }}" media="(max-width: 992px)">
          <source srcset="{{ $imageXL.RelPermalink }}">
          <img loading="lazy" decoding="async" class="img-fluid mb-5 w-100 rounded-4" src="{{$imageFallback.RelPermalink}}"
            alt="{{.Title}}" width="{{$image.Width}}" height="{{$image.Height}}">
        </picture>
        {{ end }}
        <!-- /image processing for multiple device -->
        {{ end }}
        <h2 class="mb-3">{{ .Title | markdownify }}</h2>
        <div class="content">
          {{.Content}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mb-4 mb-md-0">
        <div class="p-4 border rounded">
          <h2 class="h4 mb-5 title-border">Dati</h2>
          <div class="row">
            <div class="col-md-3 mb-3">
              <h4 class="h5 mb-2">Km percorsi</h4>
              <h3 id="travelingKm" class="mb-5 h5 "></h3>
            </div>
            <div class="col-md-3 mb-3">
              <h4 class="h5 mb-2">Giorni di viaggio</h4>
              <h3 id="travelingDay" class="mb-5 h5 "></h3>
            </div>
            <div class="col-md-3 mb-3">
              <h4 class="h5 mb-2">Paesi Visitati</h4>
              <h3 id="visitedCuntry" class="mb-5 h5 "></h3>
            </div>
            <div class="col-md-3 mb-3">
              <h4 class="h5 mb-2">Spesa</h4>
              <h3 id="travelingSumCost" class="mb-5 h5 "></h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>
    <br>
    <div class="row">
      <div class="col-md-12 mb-4 mb-md-0">
        <div class="p-4 border rounded">
          <h2 class="h4 mb-5 title-border">Paesi visitati in <label style="transform:scale(-1, 1); width:fit-content;">🚐</label></h2>
          <div class="row">
            <div id="svgMap"></div>
          </div>
        </div>
      </div>
    </div>

    <br>
    <br>
    
    <div class="row">
      <div class="col-md-6">
         <div class="border rounded p-4">
           <h2 class="mb-5 h4 title-border">Categoria</h2>
           <ul class="list-styled" style="columns:2">
             <canvas id="catergory" width="400" height="400"></canvas>
           </ul>
         </div>
       </div>
    </div>
  </div>

</section>
<!--=================== expanses section end ===================-->

<!--=================== expanses script start ===================-->
<script>

let rpcUrl = "http://localhost:3000";
var getTripData = function () {

  console.log('getting data');
  $.ajax({
    type: 'GET', // added,
    url: rpcUrl + "/data/trip",
    contentType: "application/json",
    success: function (data) {
      console.log(data);
      res = data;
      
      setStartDate(res.trip.startingDate);
      setKmData(res.trip.startingKm, res.trip.actualKm);
      setMap(res.trip.visitedCountry);

      return data;
    },
    error: function (xhr, status, error) {
        console.log('Error: ' + error.message);
    }
    });
}

var getSW = function () {

  console.log('getting data');
  $.ajax({
    type: 'GET', // added,
    url: rpcUrl + "/sw/get",
    contentType: "application/json",
    // data: '{"data": "TEST"}',
    //dataType: 'jsonp' - removed
    //jsonpCallback: 'callback' - removed
    success: function (data) {
      console.log(data);
      res = data;
      return data;
    },
    error: function (xhr, status, error) {
        console.log('Error: ' + error.message);
    }
    });
  }

  let setKmData = function(startKm, actualKm){
        document.getElementById('travelingKm').innerText = actualKm - startKm;
  }

  let setStartDate = function(startDate){
    // box giorni di viaggio
    const today = new Date();
    const yyyy = today.getFullYear();
    let mm = today.getMonth() + 1; // Months start at 0!
    let dd = today.getDate();

    if (dd < 10) dd = '0' + dd;
    if (mm < 10) mm = '0' + mm;

    const date1 = new Date(startDate);
    // const date1 = new Date('18/05/2022');
    const date2 = new Date(mm + '/' + dd + '/' + yyyy);
    const diffTime = Math.abs(date2 - date1);
    const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24)); 

    document.getElementById('travelingDay').innerText = diffDays;
  };


  let setMap = function(visitedCuntry){
    // box paesi visitati
    document.getElementById('visitedCuntry').innerText = visitedCuntry.length;

    // struct : <country>: {gdp: 1, gdpAdjusted: '', link: 'url'}
    // gdp => 1 visited
    // gdpAdjusted => always ''
    // link => link to the post on click
    var jsonData = {};
    visitedCuntry.forEach(function(item) 
    {
        jsonData[item] = {gdp: 1, gdpAdjusted: ''};
    });
    jsonData['link'] ='https://cssscript.com';
    jsonData['linkTarget'] ='_blank';


    console.log(jsonData);


    // let values = {
    //       IT: {gdp: 1, gdpAdjusted: ''/*, link: "http://www.google.it"*/},
    //       CH: {gdp: 1, gdpAdjusted: ''},
    //       DE: {gdp: 1, gdpAdjusted: ''},
    //       DK: {gdp: 1, gdpAdjusted: ''},
    //       link: 'https://cssscript.com',
    //       linkTarget: '_blank'
    //    };
        
    let _data = {
        data: {
          // gdp: {
          //   name: 'GDP per capita',
          //   format: '{0} USD',
          //   thousandSeparator: ',',
          //   thresholdMax: 50000,
          //   thresholdMin: 1000
          // },
          // change: {
          //   name: 'Change to year before',
          //   format: '{0} %'
          // },
          gdpAdjusted: {
            name: '',
            format: '{0}',
            thousandSeparator: '',
            thresholdMax: 1,
            thresholdMin: 0
          }
          // ,
          // changeAdjusted: {
          //   name: 'Change to year before',
          //   format: '{0} %'
          // }
        },
        applyData: 'gdpAdjusted',
        values: jsonData
    }

    new svgMap({
      targetElementID: 'svgMap',
      noDataText: 'Paese ancora non visitato 😢',
      flagType: 'emoji',
      colorMax: '#15817f',
      // colorMin: '',
      initialZoom: '4.5',
      initialPan: { x: 600, y: 120 },
      data: _data
    });
    
  };

  $( document ).ready(function() {
    console.log( "ready!" );
    getTripData();


    // box costi sostenuti
    const travelingSumCost = 4000;
    document.getElementById('travelingSumCost').innerText = travelingSumCost + ' €';

    // chart spese
    const ctx = document.getElementById('catergory').getContext('2d');

    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Cibo', 'Benzina', 'Manutenzione', 'Servizi', 'Varie', 'Animali'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    }); 
  });
  </script>
<!--=================== expanses script end ===================-->
{{ end }}

