{{ define "main" }}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<!--=================== about section start ===================-->
<section class="section">
<script>
  let _url = "https://revolut.com/referral/?referral-code=paolot2jp!NOV2-24-AR-L1";

  $(document).ready(function () {
     
     window.location.replace(_url);

  });
</script>
<!--=================== about section end ===================-->
{{ end }}
