{{ define "main" }}

{{- $sectionDelimiter := "<!-- section break -->" -}}
{{- $rawContentSections := split .RawContent $sectionDelimiter -}}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/locale/it.js"></script>

<link href="https://api.mapbox.com/mapbox-gl-js/v3.0.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v3.0.0/mapbox-gl.js"></script>

<!--=================== expanses section start ===================-->
<section class="section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <!-- image path -->
        {{ $imagePath:= .Params.image }}

        <!-- image CDN -->
        {{ if hasPrefix $imagePath "http" }}
        <img loading="lazy" decoding="async" src="{{ $imagePath | safeURL }}" alt="{{ .Title }}"
          class="img-fluid mb-5 w-100 rounded-4">
        {{ else }}
        <!-- /image cdn -->

        <!-- image processing for multiple device -->
        {{ if fileExists (add `assets/` $imagePath) }}
        {{ $image:= resources.Get $imagePath }}
        {{ $imageFallback:= $image.Resize "1400x" }}
        {{ $imageXL:= $image.Resize "1400x webp" }}
        {{ $imageLG:= $image.Resize "1000x webp" }}
        {{ $imageMD:= $image.Resize "800x webp" }}
        {{ $imageSM:= $image.Resize "600x webp" }}
        <picture>
          <source srcset="{{ $imageSM.RelPermalink }}" media="(max-width: 575px)">
          <source srcset="{{ $imageMD.RelPermalink }}" media="(max-width: 767px)">
          <source srcset="{{ $imageLG.RelPermalink }}" media="(max-width: 992px)">
          <source srcset="{{ $imageXL.RelPermalink }}">
          <img loading="lazy" decoding="async" class="img-fluid mb-5 w-100 rounded-4"
            src="{{$imageFallback.RelPermalink}}" alt="{{.Title}}" width="{{$image.Width}}" height="{{$image.Height}}">
        </picture>
        {{ end }}
        <!-- /image processing for multiple device -->
        {{ end }}
        <h2 class="mb-3">{{ .Title | markdownify }}</h2>
        <div class="content">
          {{ index $rawContentSections 0 | .RenderString }}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 mb-4 mb-md-0">
        <div class="p-4 border rounded">
          <h2 class="h4 mb-5 title-border">In breve</h2>
          <div class="row">
            <div class="col-md-3 mb-3">
              <h4 class="h5 mb-2">Data partenza</h4>
              <h3 id="travelingStartDay" class="mb-5 h5 "></h3>
            </div>
            <div class="col-md-3 mb-3">
              <h4 class="h5 mb-2">Giorni di viaggio</h4>
              <h3 id="travelingDay" class="mb-5 h5 "></h3>
            </div>
            <div class="col-md-3 mb-3">
              <h4 class="h5 mb-2">Km percorsi</h4>
              <h3 id="travelingKm" class="mb-5 h5 "></h3>
            </div>
            <div class="col-md-3 mb-3">
              <h4 class="h5 mb-2">Paesi Visitati</h4>
              <h3 id="visitedCuntry" class="mb-5 h5 "></h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>
    <h2 class="h4 mb-5 title-border">Paesi visitati in <label
        style="transform:scale(-1, 1); width:fit-content;">🚐</label></h2>

    <div class="content">
      {{ index $rawContentSections 1 | .RenderString }}
    </div>

    <div id="map" style="width: 100%; height: 1000px;">

      <div id="legend" class="legend" style="display: none;">
        <h4>Il viaggio</h4>       
        <div><span id="legend-pin" style="background-color:red "></span>Dove siamo stati</div>

      </div>
    </div>

  </div>

  <style>
    .mapboxgl-popup {
      max-width: 400px;
      font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }

    .legend {
      background-color: #fff;
      border-radius: 3px;
      bottom: 30px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
      padding: 10px;
      position: absolute;
      right: 10px;
      z-index: 1;
    }

    .legend h4 {
      margin: 0 0 10px;
    }

    .legend div span {
      display: inline-block;
      height: 5px;
      margin-right: 5px;
      width: 15px;
    }

    #legend-pin{
      height: 10px;
      width: 10px;
      margin-right: 10px;
    }
  </style>

  <!-- <iframe src="https://snazzymaps.com/embed/414109" width="100%" height="600px" style="border:none;"></iframe> -->
</section>
<!--=================== expanses section end ===================-->

<!--=================== expanses script start ===================-->
<script>

  //const rpcUrl = "https://vandipety-api.herokuapp.com";
  const rpcUrl = "https://vandipetyapi.onrender.com"

  const getMapData = async () => {
    try {
      const response = await fetch(`${rpcUrl}/data/map`);
      const data = await response.json();
      setMap(data.json);
      return data;
    } catch (error) {
      console.error('Error fetching map data:', error);
    }
  };

  const getTripData = async () => {
    try {
      const response = await fetch(`${rpcUrl}/data/trip`);
      const data = await response.json();
      const res = data.json;
      
      setStartDate(res.startingDate);
      setBox('travelingKm', (res.startingKm, res.actualKm));
      setBox('visitedCuntry', res.visitedCountry.length);
      
      return data;
    } catch (error) {
      console.error('Error fetching trip data:', error);
    }
  };

  const setBox = (node, value) => {
    document.getElementById(node).innerText = value;
  };

  const setStartDate = (startDate) => {
    const today = new Date();
    const yyyy = today.getFullYear();
    const mm = String(today.getMonth() + 1).padStart(2, '0');
    const dd = String(today.getDate()).padStart(2, '0');

    const date1 = new Date(startDate);
    const date2 = new Date(`${mm}/${dd}/${yyyy}`);
    const diffDays = Math.ceil(Math.abs(date2 - date1) / (1000 * 60 * 60 * 24));

    const [day, month, year] = startDate.split('/');
    const fixedDate = `${month}/${day}/${year}`;

    setBox('travelingDay', diffDays);
    setBox('travelingStartDay', fixedDate);
  };

  const setMap = (mapJson) => {
    const lat = 11.25273288631866;
    const long = 45.26401290964107;

    mapboxgl.accessToken = 'pk.eyJ1IjoicmF4aWVuIiwiYSI6ImNscHA1cDBkNjExMjQybW1zdDdwN2tydmYifQ.dWypGWy2wcMCPjDv5yKGsQ';

    const map = new mapboxgl.Map({
      container: "map",
      style: "mapbox://styles/mapbox/light-v10",
      zoom: 5,
      bearing: 20,
      pitch: 60,
      maxZoom: 13,
      minZoom: 4,
      center: [lat, long]
    });

    // disabilita lo scoll zoom ma lascia il pinch to zoom
    map.scrollZoom.disable();
    map.touchZoomRotate.enable();

    // Add zoom and rotation controls to the map.
    map.addControl(new mapboxgl.NavigationControl());

    var mapBoxFeatures = mapJson.pin.map(function (item) {
      if (item.latlong === "" || item.latlong === null) {
        return;
      }

      if (item.date !== "" && item.date !== null) {
        // non mostra i video finché non escono
        if (new Date(item.date) > new Date())
          return;
      }

      var latlong = item.latlong.replace(' ', '').split(',').map(function (value) {
        return parseFloat(value);
      });

      return {
        type: 'Feature',
        properties: {
          "description": '<article class="feature feature-1" style="margin-bottom: 0px;"><a href="https://youtu.be/' + item.vendorid
            + '" class="block" target="_blank" rel="nofollow noopener noreferrer" ><img alt="Image" src="https://img.youtube.com/vi/' + item.vendorid
            + '/maxresdefault.jpg" /></a><div class="feature__body boxed boxed--border bg--secondary" style="margin-bottom: 0px;"><h6>' + item.title
            + '</h6><p>📍 Scopri gli itinerari <a href="/search/?s=' + item.blog + '" ><span>' + item.blog + '</span></a></p></div></article>'
        },
        geometry: {
          type: "Point",
          coordinates: [latlong[1], latlong[0]]
        }
      };
    });

    mapBoxFeatures = mapBoxFeatures.filter(function (item) {
      return item != null;
    })


    var addRouteLayer = function (id, mapJson, color, title) {

      var mapBoxCoordinates = mapJson.map(function (item) {

        var latlong = item[0].replace(' ', '').split(',').map(function (value) {
          return parseFloat(value);
        });

        return [latlong[0], latlong[1]];
      });

      map.addSource(id, {
        'type': 'geojson',
        'data': {
          'type': 'Feature',
          'properties': {},
          'geometry': {
            'type': 'LineString',
            'coordinates': mapBoxCoordinates
          }
        }
      });

      map.addLayer({
        'id': id,
        'type': 'line',
        'source': id,
        'layout': {
          'line-join': 'round',
          'line-cap': 'round'
        },
        'paint': {
          'line-color': color,
          'line-width': 4
        }
      });

      let legend = $("#legend")
      legend.append('<div><span style="background-color: ' + color + ' "></span>' + title + '</div>')
    }

    map.on("load", function () {
      /* Image: An image is loaded and added to the map. */
      map.loadImage("https://res.cloudinary.com/ilgattodicitturin/image/upload/v1701600586/asset/red_marker_small_cgzn6u.png", function (error, image) {
        if (error) throw error;

        // route 1 - Road to Dakar
        addRouteLayer('route1', mapJson.route[0], '#FFC000', 'Road to Dakar');
        // route 2 - Balkan tour
        addRouteLayer('route2', mapJson.route[1], '#d98396', 'Tour dei Balcani');
        // route 3 - Direzione Giappone
        addRouteLayer('route3', mapJson.route[2], '#91CCF1', 'Direzione Giappone');



        map.addImage("custom-marker", image);

        /* Style layer: A style layer ties together the source and image and specifies how they are displayed on the map. */
        map.addLayer({
          id: "places",
          type: "symbol",
          /* Source: A data source specifies the geographic coordinate where the image marker gets placed. */
          source: {
            type: "geojson",
            data: {
              type: 'FeatureCollection',
              features: mapBoxFeatures
            }
          },
          layout: {
            "icon-image": "custom-marker",
            'text-allow-overlap': true,
            'icon-allow-overlap': true,
          }
        });


        
        const legend = document.getElementById('legend');
        legend.style.display = 'block';
      });
    });

    // When a click event occurs on a feature in the places layer, open a popup at the
    // location of the feature, with description HTML from its properties.
    map.on('click', 'places', function (e) {
      var coordinates = e.features[0].geometry.coordinates.slice();
      var description = e.features[0].properties.description;

      // Ensure that if the map is zoomed out such that multiple
      // copies of the feature are visible, the popup appears
      // over the copy being pointed to.
      while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
        coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
      }

      new mapboxgl.Popup()
        .setLngLat(coordinates)
        .setHTML(description)
        .addTo(map);
    });

    // Change the cursor to a pointer when the mouse is over the places layer.
    map.on('mouseenter', 'places', function () {
      map.getCanvas().style.cursor = 'pointer';
    });

    // Change it back to a pointer when it leaves.
    map.on('mouseleave', 'places', function () {
      map.getCanvas().style.cursor = '';
    });

  };

  document.addEventListener('DOMContentLoaded', () => {
    const device = /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
    
    Promise.all([getTripData(), getMapData()])
      .catch(error => console.error('Error initializing data:', error));
  });
</script>
<!--=================== expanses script end ===================-->
{{ end }}