{{ define "main" }}

{{- $sectionDelimiter := "<!-- section break -->" -}}
{{- $rawContentSections := split .RawContent $sectionDelimiter -}}

{{ partial "page-hero.html" . }}

<!--=================== expenses section start ===================-->
<section class="section pt-0">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <div class="content">
          {{ index $rawContentSections 0 | .RenderString }}
        </div>
      </div>
    </div>

    <div class="row" data-ad-exclude="true">
      <div class="col-md-12 mb-4 mb-md-0">
        <div class="p-4 border rounded">
          <h2 class="h4 mb-5 title-border">{{ i18n "expenses_summary_heading" }}</h2>
          <div class="row">
            <div class="col-md-3 mb-3">
              <h4 class="h5 mb-2">{{ i18n "trip_departure_date" }}</h4>
              <h3 id="travelingStartDay" class="mb-5 h5 "></h3>
            </div>
            <div class="col-md-3 mb-3">
              <h4 class="h5 mb-2">{{ i18n "expenses_travel_days" }}</h4>
              <h3 id="travelingDay" class="mb-5 h5 "></h3>
            </div>
            <div class="col-md-3 mb-3">
              <h4 class="h5 mb-2">{{ i18n "trip_km_traveled" }}</h4>
              <h3 id="travelingKm" class="mb-5 h5 "></h3>
            </div>
            <div class="col-md-3 mb-3">
              <h4 class="h5 mb-2">{{ i18n "trip_countries_visited" }}</h4>
              <h3 id="visitedCountry" class="mb-5 h5 "></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      {{ range after 1 $rawContentSections }}
      <div class="col-12 mb-5">
        <div class="content">{{ . | $.RenderString }}</div>
      </div>
      {{ end }}
    </div>

  </div>
</section>
<!--=================== expenses section end ===================-->
{{ end }}
