<div id="consent-notice"><span>Vorremmo usare del <a class="manage-consent" href="#manage-consent">codici di terze parti</a> per migliorare le funzionalità del sito.</span><button class="btn manage-consent">Gestisci preferenze</button><button class="btn deny-consent">Nega</button><button class="btn btn-primary deny-consent">Accetta</button></div>
<div id="consent-overlay">
  <div>
      {{ range $index, $item := .Site.Data.consent.items }}
          <div>
              <label for="item{{ $index }}" style="margin-left: 10px">
                  <h3 class="cookieTitle">{{ $item.title }}</h3>
                  <div>
                      <p style="font-size: 0.8em;">{{ $item.description }}</p>
                      <div class="form-check form-switch">
                          <input class="form-check-input cookieCheck" type="checkbox" id="item{{ $index }}" value="1" name="item{{ $index }}" {{ if $item.is_functional }}checked disabled{{ end }} >
                      </div>
                  </div>
              </label> 
          </div>
      {{ end }}
      <div>
          <button id="save-consent" class="btn save-consent" data-consentvalue="{{ range $index, $item := .Site.Data.consent.items }}{{ if $item.is_functional}}{{ else }}0{{ end }}{{ end }}">Salva preferenze</button>
          <button class="btn btn-primary approve-consent">Accetta tutti</button>
      </div>
  </div>
</div>
<script>

  const scripts = [];{{ range $index, $item := (where .Site.Data.consent.items "is_functional" false) }}
  scripts[{{ $index }}] = "/js/{{ $item.script_file }}";{{ end }}

  function createCookie(name,value,days) {
      var expires = "";
      if (days) {
          var date = new Date();
          date.setTime(date.getTime() + (days*24*60*60*1000));
          expires = "; expires=" + date.toUTCString();
      }
      document.cookie = name + "=" + value + expires + "; path=/";
  }

  function readCookie(name) {
      var nameEQ = name + "=";
      var ca = document.cookie.split(';');
      for(var i=0;i < ca.length;i++) {
          var c = ca[i];
          while (c.charAt(0)==' ') c = c.substring(1,c.length);
          if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
      }
      return null;
  }

  function eraseCookie(name) {
    console.log('eraseCookie');
    createCookie(name,"",-1);
  }
  
  function denyAllConsentScripts() {
    console.log('denyAllConsentScripts')
      var consentValue = "";
      scripts.forEach(function(){
          consentValue = consentValue + "0";
      });
      acceptSomeConsentScripts(consentValue);
  }

  function acceptAllConsentScripts() {
      var consentValue = "";
      scripts.forEach(function(){
          consentValue = consentValue + "1";
      });
      acceptSomeConsentScripts(consentValue);
  }
  function acceptSomeConsentScripts(consentValue) {
      setConsentInputs(consentValue);
      createCookie('consent-settings',consentValue,31);
      document.getElementById('consent-notice').style.display = 'none';
      document.getElementById('consent-overlay').classList.remove('active');
      loadConsentScripts(consentValue);
  }
  function loadConsentScripts(consentValue) {
/*     console.log('loadConsentScripts'); */
    // debugger;
      scripts.forEach(function(value,key){
        if(consentValue[key] == "0")
            
        setTimeout(() => {
            eraseCookie('_ga_E9L2CG2NZ6');
            eraseCookie('_ga');
        }, "1000")
      });
  }

  function eraseCookie(name) {
/*     console.log('elimina ' + name) */
    document.cookie = name + '=; Max-Age=0'
  }

  function setConsentInputs(consentValue) {
/*     console.log('setConsentInputs'); */
      var elements = document.querySelectorAll('#consent-overlay input:not([disabled])');
      elements.forEach(function(el,index) {
          if(consentValue[index]=="1") el.checked = true;
          else el.checked = false;
      });
  }
  function setConsentValue() {
/*     console.log('setConsentValue'); */
      var elements = document.querySelectorAll('#consent-overlay input:not([disabled])');
    //   debugger;
      var consentValue = "";
      elements.forEach(function(el) {
          if(el.checked) consentValue = consentValue + "1";
          else consentValue = consentValue + "0";
      });
      document.getElementById("save-consent").dataset.consentvalue = consentValue;
  }

  var elements = document.querySelectorAll('#consent-overlay input:not([disabled])');
  elements.forEach(function(el) {
      el.checked = false;
  });

  if(readCookie('consent-settings')) {
      var consentValue = readCookie('consent-settings').toString();
/*       console.log(consentValue); */
      setConsentInputs(consentValue);
      loadConsentScripts(consentValue);
  } else {
      document.getElementById('consent-notice').style.display = 'block';
  }
  var elements = document.querySelectorAll('.manage-consent');
  elements.forEach(function(el) {
      el.addEventListener("click",function() {
          document.getElementById('consent-overlay').classList.toggle('active');
      });
  });
  var elements = document.querySelectorAll('.deny-consent');
  elements.forEach(function(el) {
      el.addEventListener("click",function() {
          denyAllConsentScripts();
      });
  });
  var elements = document.querySelectorAll('.approve-consent');
  elements.forEach(function(el) {
      el.addEventListener("click",function() {
          acceptAllConsentScripts();
      });
  });
  document.getElementById("save-consent").addEventListener("click",function() {
      setConsentValue();
      acceptSomeConsentScripts(this.dataset.consentvalue);
  });
  document.getElementById("consent-overlay").addEventListener("click",function(e) {
      if (!document.querySelector("#consent-overlay > div").contains(e.target)){
          this.classList.toggle('active');
      }
  });
</script>

