{{ $logoPath:= site.Params.logo }}
{{ $logoWidth:= replace site.Params.logo_width "px" "x" }}
{{ $logoHeight:= replace site.Params.logo_height "px" "x" }}

<!-- checking logo existance -->
{{ if $logoPath }}
{{ if fileExists (add `assets/` $logoPath) }}
{{ $logo:= resources.Get $logoPath }}

<!-- checking gif -->
{{ $logoExt := path.Ext $logo }}
{{ if eq $logoExt ".gif" }}
{{ .Scratch.Set "logo" ($logo.Resize $logoWidth).RelPermalink }}
{{ .Scratch.Set "logo" ($logo.Resize $logoHeight).RelPermalink }}
<!-- checking svg -->
{{ else if eq $logoExt ".svg"}}
{{ .Scratch.Set "logo" $logo.RelPermalink }}
<!-- logo fallback for svg -->
{{ .Scratch.Set "logo_fallback" $logo.RelPermalink }}
{{ else }}
<!-- logo processing to webp and avif -->
{{ $logoDefaultWidth:= add (string $logo.Width) "x"}}
{{ $logoWidth:= $logoWidth | default $logoDefaultWidth }}
{{ $webpOptions := add (string $logoWidth) " webp" }}
{{ $avifOptions := add (string $logoWidth) " avif" }}
{{ .Scratch.Set "logo_webp" ($logo.Resize $webpOptions).RelPermalink }}
{{ .Scratch.Set "logo_avif" ($logo.Resize $avifOptions).RelPermalink }}
<!-- logo fallback -->
{{ .Scratch.Set "logo_fallback" ($logo.Resize $logoWidth).RelPermalink }}
{{ end }}

<img loading="lazy" decoding="async" class="img-fluid" 
  {{if ne $logoExt `.svg`}}
  srcset="{{ .Scratch.Get "logo_avif" }} 1x, {{ .Scratch.Get "logo_webp" }} 1x"
  src="{{ .Scratch.Get "logo_fallback" }}"
  {{else}}
  src="{{ .Scratch.Get "logo" }}"
  {{end}}
  alt="{{ site.Title }}" width="{{ site.Params.logo_width }}" height="{{ site.Params.logo_height }}">
{{ else }}
<strong class="text-danger">`{{$logoPath}}` doesn't exist</strong>
{{ end }} 
<!-- / checking logo existance -->
<!-- logo text -->
{{ else if site.Params.logo_text }}
{{ site.Params.logo_text | markdownify }}
<!-- logo title -->
{{ else }}
{{ site.Title | markdownify }}
{{ end }}