{{ if .Params.image }}
{{ $image := .Resources.GetMatch .Params.image }}
{{ if $image }}
  {{ $webp := $image.Resize "1200x webp" }}
  {{ $jpg := $image.Resize "1200x" }}
  <div class="post-featured-image">
    <picture>
      <source srcset="{{ $webp.RelPermalink }}" type="image/webp">
      <img 
        src="{{ $jpg.RelPermalink }}" 
        alt="{{ .Title }}" 
        loading="eager"
        width="{{ $jpg.Width }}"
        height="{{ $jpg.Height }}"
        class="img-fluid"
      >
    </picture>
  </div>
{{ else }}
  <div class="post-featured-image">
    <img 
      src="{{ .Params.image | absURL }}" 
      alt="{{ .Title }}" 
      loading="eager"
      class="img-fluid"
    >
  </div>
{{ end }}
{{ end }}