<div class="card">
  <!-- image path -->
  {{ $imagePath:= .Params.image }}
  {{ if $imagePath }}
  <div class="mb-4 position-relative">
    <!-- image CDN -->
    {{ if hasPrefix $imagePath "http" }}
    <div class="image-container" style="width: 100%; height: 300px; position: relative;">
      <img loading="lazy" decoding="async" 
        src="{{ $imagePath | safeURL }}" 
        srcset="{{ $imagePath | safeURL }} 1x, {{ $imagePath | safeURL }} 2x"
        alt="{{ .Title }}"
        class="img-fluid rounded-4"
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;">
    </div>
    {{ else }}
    <!-- /image cdn -->

    <!-- image processing for multiple device -->
    {{ if fileExists (add `assets/` $imagePath) }}
    {{ $image:= resources.Get $imagePath }}
    {{ $imageFallback:= $image.Resize "650x" }}
    {{ $imageLG:= $image.Resize "650x webp" }}
    {{ $imageMD:= $image.Resize "600x webp" }}
    {{ $imageSM:= $image.Resize "545x webp" }}
    <picture>
      <source srcset="{{ $imageSM.RelPermalink }}" media="(max-width: 575px)">
      <source srcset="{{ $imageMD.RelPermalink }}" media="(max-width: 767px)">
      <source srcset="{{ $imageLG.RelPermalink }}">
      <img loading="lazy" decoding="async" class="img-fluid w-100 rounded-4" src="{{$imageFallback.RelPermalink}}"
        alt="{{.Title}}" width="{{$image.Width}}" height="{{$image.Height}}">
    </picture>
    {{ end }}
    <!-- /image processing for multiple device -->
    {{ end }}
    <ul class="list-inline card-badge">
      {{ range .Params.categories }}
      <li class="list-inline-item">
        <a href="{{`categories/` | relLangURL}}{{. | lower | urlize}}" class="badge badge-primary py-1">{{. | title}}</a>
      </li>
      {{ end }}
    </ul>
  </div>
  {{ else }}
  <div class="mb-4">
    {{ range .Params.categories }}
    <a href="{{`categories/` | relLangURL}}{{. | lower | urlize}}" class="badge badge-primary d-inline-block">{{. | title}}</a>
    {{ end }}
  </div>
  {{ end }}
  <div class="card-body">
    <h3 class="h6">
      <a class="title-linked" href="{{.RelPermalink}}">{{.Title | markdownify}}</a>
    </h3>
    <ul class="list-inline card-meta d-flex align-items-center mb-3">
      <li class="list-inline-item d-flex align-items-center" style="display: none !important; ">
        <i class="fas fa-user me-2"></i>
        <a href="{{`about` | relLangURL}}">{{site.Params.author}}</a>
      </li>
      {{ if .Params.country}}
      <li class="list-inline-item d-flex align-items-center">
        <i class="fas fa-map-pin me-2"></i>
        {{ $country := .Params.country}}
        {{ $link:= add "search/?s=" $country }}
        <a href="{{$link | relLangURL}}">{{.Params.country | title}}</a>
      </li>
      {{end}}
      <li class="list-inline-item d-flex align-items-center">
        <i class="fas fa-calendar me-2"></i>
                      <!-- data di pubblicazione formattata Mese, gg aaaa -->
                      {{ $date := time.Format ":date_long" .PublishDate }}
                      {{ $sDate := split (string $date) " " }}

                      <span>
                        {{ $aMonth := index $sDate 0}}
                        {{ $aDay := index $sDate 1}}
                        {{ $aYear := index $sDate 2}}

                        {{ $day := (string $aDay)}}
                        {{ $month := (string $aMonth)}}
                        {{ $year := (string $aYear)}}

                        {{ replace $day "," " " }}
                        {{ if eq $month "January" }}
                        {{ "Gennaio" }}
                        {{ else if eq $month "February" }}
                        {{ "Febbraio" }}
                        {{ else if eq $month "March" }}
                        {{ "Marzo" }}
                        {{ else if eq $month "April" }}
                        {{ "Aprile" }}
                        {{ else if eq $month "May" }}
                        {{ "Maggio" }}
                        {{ else if eq $month "June" }}
                        {{ "Giugno" }}
                        {{ else if eq $month "July" }}
                        {{ "Luglio" }}
                        {{ else if eq $month "August" }}
                        {{ "Agosto" }}
                        {{ else if eq $month "September" }}
                        {{ "Settembre" }}
                        {{ else if eq $month "October" }}
                        {{ "Ottobre" }}
                        {{ else if eq $month "November" }}
                        {{ "Novembre" }}
                        {{ else if eq $month "December" }}
                        {{ "Dicembre" }}
                        {{ end }}
                        {{ $year }}
                      </span>
      </li>
      {{ if .Params.sponsored}}
      <li class="list-inline-item d-flex align-items-center">
        <i>Sponsorizzato</i>
      </li>
      {{end}}
    </ul>
    <p class="card-text mb-4">{{ .Description }}</p>
  </div>
</div> 