{{ define "main" }}

<!--=================== about section start ===================-->
<section class="section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <h2 class="mb-3">{{ .Title | markdownify }}</h2>
        <div id="content" class="content">
          {{.Content}}
        </div>
        <div id="press">
          <div id="loader" class="text-center my-5">
            <div class="spinner-border text-primary" role="status">
              <span class="visually-hidden">Caricamento...</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      {{ with .Params.education }}
      {{ if .enable }}
      <div class="col-md-6 mb-4 mb-md-0">
        <div class="p-4 border rounded">
          <h2 class="h4 mb-5 title-border">Formal Education</h2>
          <div class="row">
            {{ range .education_list }}
            <div class="col-md-6 mb-3">
              <h4 class="h5 mb-2">{{ .name | markdownify }}</h4>
              <p>{{.content | markdownify}}</p>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}
      {{ end }}

      {{ with .Params.experience }}
      {{ if .enable }}
      <div class="col-md-6">
        <div class="border rounded p-4">
          <h2 class="mb-5 h4 title-border">{{ .title | markdownify }}</h2>
          <ul class="list-styled" style="columns:2">
            {{ range .experience_list }}
            <li>{{ . | markdownify}}</li>
            {{ end }}
          </ul>
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
</section>
<script>
  const rpcUrl = "https://vandipetyapi.onrender.com";
  const _url = "press";

  const liElement = (data) => {
    const info = data.info ? data.info.replace('#', data.data) : '';
    return `<li><strong><a href="${data.url}">${data.title}</a></strong>${info ? ` (${info})` : ''}</li>`;
  };

  const comp = (a, b) => {
    return new Date(a.data).getTime() - new Date(b.data).getTime();
  };

  const buildList = async () => {
    try {
      console.log('getting data');
      const loader = document.getElementById('loader');
      const pressElement = document.getElementById('press');
      
      const response = await fetch(`${rpcUrl}/data/${_url}`);
      const data = await response.json();
      const res = data.json;
      
      res.sort(comp);

      let i = 0;
      
      while(i < res.length) {
        const element = res[i];
        const year = element.data.split('/')[2];
        
        if (!document.getElementById(year)) {
          const yearHeading = document.createElement('h5');
          yearHeading.textContent = year;
          pressElement.appendChild(yearHeading);
          
          const yearList = document.createElement('ul');
          yearList.id = year;
          pressElement.appendChild(yearList);
        }

        const yearList = document.getElementById(year);
        yearList.insertAdjacentHTML('beforeend', liElement(element));
        
        i++;
      }

      // Nascondi il loader una volta che i dati sono stati caricati
      loader.style.display = 'none';
    } catch (error) {
      console.error('Error:', error.message);
      // In caso di errore, nascondi comunque il loader
      document.getElementById('loader').style.display = 'none';
    }
  };

  document.addEventListener('DOMContentLoaded', buildList);
</script>
<!--=================== about section end ===================-->
{{ end }}