{{ define "main" }}

{{- $sectionDelimiter := "<!-- section break -->" -}}
{{- $rawContentSections := split .RawContent $sectionDelimiter -}}

<!-- Inclusioni di Choices.js -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>

<!--=================== expenses section start ===================-->
<section class="section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <!-- image path -->
        {{ $imagePath:= .Params.image }}

        <!-- image CDN -->
        {{ if hasPrefix $imagePath "http" }}
        <img loading="lazy" decoding="async" src="{{ $imagePath | safeURL }}" alt="{{ .Title }}"
          class="img-fluid mb-5 w-100 rounded-4">
        {{ else }}
        <!-- /image cdn -->

        <!-- image processing for multiple device -->
        {{ if fileExists (add `assets/` $imagePath) }}
        {{ $image:= resources.Get $imagePath }}
        {{ $imageFallback:= $image.Resize "1400x" }}
        {{ $imageXL:= $image.Resize "1400x webp" }}
        {{ $imageLG:= $image.Resize "1000x webp" }}
        {{ $imageMD:= $image.Resize "800x webp" }}
        {{ $imageSM:= $image.Resize "600x webp" }}
        <picture>
          <source srcset="{{ $imageSM.RelPermalink }}" media="(max-width: 575px)">
          <source srcset="{{ $imageMD.RelPermalink }}" media="(max-width: 767px)">
          <source srcset="{{ $imageLG.RelPermalink }}" media="(max-width: 992px)">
          <source srcset="{{ $imageXL.RelPermalink }}">
          <img loading="lazy" decoding="async" class="img-fluid mb-5 w-100 rounded-4"
            src="{{$imageFallback.RelPermalink}}" alt="{{.Title}}" width="{{$image.Width}}" height="{{$image.Height}}">
        </picture>
        {{ end }}
        <!-- /image processing for multiple device -->
        {{ end }}
        <h2 class="mb-3">{{ .Title | markdownify }}</h2>
        <div class="content">
          <!-- {{.Content}} -->
          {{ index $rawContentSections 0 | .RenderString }}
        </div>

        <!-- riga per selezione dati -->
        <div class="col-md-12 mb-4 mb-md-0">
          <div class="p-4 border rounded">
            <div class="row">
              <div class="col-md-6 mb-3">
                <div class="form-group">
                  <label for="visaType" class="form-label">Tipo di visto:</label>
                  <select id="visaType" class="form-control" onchange="setVisaDays()">
                    <option value="16">Visto elettronico (16 giorni)</option>
                    <option value="30">Visto turistico standard (30 giorni)</option>
                    <option value="90">Visto 3 mesi singolo ingresso (90 giorni)</option>
                    <option value="90">Visto 6 mesi multi ingresso (90 giorni)</option>
                  </select>
                </div>
              </div>
              
              <div class="col-md-3 mb-3">
                <div class="form-group">
                  <label for="averageSpeed" class="form-label">Velocità media (km/h):</label>
                  <select id="averageSpeed" class="form-control" onchange="calculateHours()">
                    <option value="50">50 km/h</option>
                    <option value="70" selected>70 km/h</option>
                    <option value="90">90 km/h</option>
                    <option value="110">110 km/h</option>
                  </select>
                </div>
              </div>
              
              <div class="col-md-3 mb-3">
                <div class="form-group">
                  <label class="form-label d-block">Andata e ritorno:</label>
                  <div class="form-check form-switch mt-2">
                    <input type="checkbox" id="roundTrip" class="form-check-input" onchange="calculateTotalKm()">
                    <label for="roundTrip" class="form-check-label">Includi ritorno</label>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-9 mb-3">
                <div class="form-group">
                  <label for="city" class="form-label">Seleziona una città:</label>
                  <select id="city" class="form-control">
                    <option value="">Seleziona una città</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <div class="form-group">
                  <label class="form-label">&nbsp;</label>
                  <button class="btn btn-primary w-100" style="z-index: auto;" onclick="addCity()">Aggiungi città</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <br>

        <!-- riga per tabella -->
        <div class="row">
          <div class="col-md-12 mb-4 mb-md-0">
            <div class="p-4 border rounded position-relative">
              <table>
                <thead>
                  <tr>
                    <th>Città</th>
                    <th>Distanza (km)</th>
                    <th>Tempo (ore)</th>
                    <th>Azioni</th>
                  </tr>
                </thead>
                <tbody id="cityTable">
                  <!-- Le città aggiunte appariranno qui -->
                </tbody>
              </table>

              <!-- Loader posizionato all'interno del contenitore -->
              <div id="loader" class="loader-container2" style="display: none;">
                <div class="loader2"></div>
                <p>Calcolo distanza in corso...</p>
              </div>

              <div class="col-md-3 mb-3">
                <h4 class="h5 mb-2"> &nbsp;</h4>
                <button id="viewOnGoogleMaps" class="btn btn-primary" style="z-index: auto;" onclick="openGoogleMaps()" disabled>Vedi su Google Maps</button>
              </div>
            </div>
          </div>
        </div>

        <br>

        <!-- riga per calcolo chilometri -->
        <div class="row">
          <div class="col-md-12 mb-4 mb-md-0">
            <div class="p-4 border rounded">
              <!-- <h2 class="h4 mb-5 title-border">Il nostro van in breve</h2> -->
              <div class="row">
                <div class="col-md-3 mb-3">
                  <h4 class="h5 mb-2">Totale chilometri</h4>
                  <h3 class="mb-5 h5">
                    <div id="totalKm">0</div>
                  </h3>
                </div>
                <div class="col-md-3 mb-3">
                  <h4 class="h5 mb-2">Giorni di visto</h4>
                  <h3 class="mb-5 h5">
                    <div id="days">15</div>
                  </h3>
                </div>
                <div class="col-md-3 mb-3">
                  <h4 class="h5 mb-2">Chilometri giornalieri</h4>
                  <h3 class="mb-5 h5">
                    <div id="averageKm">0</div>
                  </h3>
                </div>
                <div class="col-md-3 mb-3">
                  <h4 class="h5 mb-2">Giorni minimi</h4>
                  <h3 class="mb-5 h5">
                    <div id="averageDay">15</div>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="content">
          <!-- {{.Content}} -->
          {{ index $rawContentSections 1 | .RenderString }}
        </div>
      </div>
    </div>

    <br>
    <br>

  </div>

</section>
<!--=================== expenses section end ===================-->
{{ end }}