{{ $country := .Get 0}}

Per viaggiare 
{{ if eq $country "EU"}}
in Europa
{{ else if eq $country "EX"}}
fuori dall' 
{{end}}
Europa con il proprio animale occorre avere: 
<ul>
    <li>passaporto</li>
    <li>microchip</li>
    <li>vaccinazione antirabbica in corso di validità</li>
    {{ if eq $country "EX"}}
    <li>titolazione antirabbica</li>
    {{end}}
</ul> 
{{ if eq $country "EX"}}
Quest'ultimo documento si effettua tramite un prelievo del sangue che viene analizzato in centri specializzati ed è
obbligatorio per poter rientrare in Europa.
{{end}}
Controlla, se il tuo animale appartiene a una razza particolare, che sia ammesso in paese. 
Ti consigliamo di prestare sempre attenzione nei luoghi affollati perchè le persone potrebbero avere timore, {{ if eq $country "EX"}} e ai numerosi animali selvatici, {{end}} motivo per cui noi giriamo sempre con i nostri animali al guinzaglio. 
In parecchi casi è richiesta la museruola, ti consigliamo di tenerla a portata di mano. 
<br> 
<br> 
Ti consigliamo di portare con te una ciotola (noi usiamo questa che si appende comodamente allo zaino) e una borraccia con acqua se la giornata è particolarmente afosa. 

<br> 
Di seguito quello che usiamo noi quotidianamente:

<br> 

<iframe sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-eu.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=vandipety-21&language=it_IT&o=29&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B09H1XPF7G&linkId=5a76c5e83f934de59a3efef2b4c973c9"></iframe>
<iframe sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-eu.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=vandipety-21&language=it_IT&o=29&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B09MZL9N28&linkId=8c2230f680447d23aa9f1b094b376ced"></iframe>
<iframe sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-eu.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=vandipety-21&language=it_IT&o=29&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B09YRMXHF6&linkId=bcf0139c5f7ce705492658536b6aaca4"></iframe>
<iframe sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-eu.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=vandipety-21&language=it_IT&o=29&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B08QMHK95X&linkId=2a6a3352eb9d8d7b931e9a6a218bd407"></iframe>